body{
    font-family: "Roboto", sans-serif;
    background-image: url(./media/grid04-DH9I6gw7.webp);
}

h1{
    font-family: "Archivo Black", sans-serif;
    color: goldenrod;
}

main{
    background-color: green;
}

main:hover{
    background-color: beige;
}
